:root {
	--clr-primary-100: white;
	--clr-primary-200: hsl(0, 0%, 95%);
	--clr-primary-300: hsl(0, 0%, 65%);
	--clr-primary-400: ;
	--clr-primary-500: hsl(163, 49%, 17%);
	--clr-primary-550: #446c63;
	--clr-primary-600: hsl(203, 97%, 13%);
	--clr-primary-650: #4f6a85;
	--clr-primary-700: ;
	--clr-primary-800: hsl(0, 0%, 15%);
	--clr-primary-900: black;
}
